<!--<section class="comment-area">-->
<!--  <div class="comment-wrapper">-->
<!--    {% if site.discus-identifier %}-->
<!--    <div id="disqus_thread" class="article-comments"></div>-->
<!--    <script>-->
<!--      (function() {-->
<!--          var d = document, s = d.createElement('script');-->
<!--          s.src = '//{{ site.discus-identifier }}.disqus.com/embed.js';-->
<!--          s.setAttribute('data-timestamp', +new Date());-->
<!--          (d.head || d.body).appendChild(s);-->
<!--      })();-->
<!--    </script>-->
<!--    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
<!--    {% endif %}-->
<!--  </div>-->
<!--</section> &lt;!&ndash; End Comment Area &ndash;&gt;-->

<script src="https://giscus.app/client.js"
        data-repo="slavkomelnyk/Propysy"
        data-repo-id="R_kgDONZWubg"
        data-category="[ВВЕДІТЬ CATEGORY NAME]"
        data-category-id="[ВВЕДІТЬ CATEGORY ID]"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="uk"
        crossorigin="anonymous"
        async>
</script>
